.tema {
    background-color: black;
}

.profileName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-85px) translateY(220px);
}

.profile {
    width: 350px;
    filter: drop-shadow(1px 1px 20px blue);
}

.h2-text {
    color: white;
    transform: translateY(-90px);
}
.h4-text {
    color: white;
    transform: translateY(-90px);
}

.deskripsi {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10px) translateY(400px);
}

.h1-text {
    color: white;
    transform: translateX(-80px) translateY(550px);
}

.skin {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    transform: translateX(90px);
}

.div-list {
    transform: translateX(-10px) translateY(100px);
    margin: 7px;
}

.img {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transform: translateY(10px);
}

.image {
    transform: translateY(10px);
}

.skin2 {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    transform: translateY(120px);
    font-family: 'Times New Roman', Times, serif;
}

.img2 {
    transform: translateY(10px);
}