.tema {
    background-color: black;
}

.profileName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(170px);
}

.profile {
    width: 200px;
    filter: drop-shadow(1px 1px 20px blue);
}

.h2-text {
    color: white;
    transform: translateY(-50px);
}
.h4-text {
    color: white;
    transform: translateY(-55px);
}

.deskripsi {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(270px);
}

.column {
    color: white;
    transform: translateY(300px);
}
